@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 50rem;
    font-family: "Varela Round", sans-serif;
    color: #3a2d2d;
}

.container-wrapper {
    padding: 3em;
    margin: 2em;
    width: 23.5rem;
    background-color: #00efb8;
    border-radius: 30px;
}

.login-text {
    text-align: center;
    font-size: 1.7em;
    margin-top: -2%;
}

.item {
    padding: 0.2em;
}

.container-wrapper button {
    padding: 0.2em;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 4.7em;
    border: none;
    width: 100%;
    background-color: #00ff89;
    font-size: 18px;
}

.submit button:hover {
    background-color: #1dfcc0;
    cursor: pointer;
    box-shadow: #b5b6fb;
}

form {
    margin: 2em auto;
}

.input {
    padding: 20px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin: 5px;
}

.remember {
    font-size: normal;
    margin-left: 40%;
    display: inline-block;
    margin-top: 17px;
}

.ac {
    display: inline-block;
    font-size: medium;
    margin-top: 24px;
    text-align: center;
}

.ac a {
    text-decoration: underline;
    color: #3a2d2d;
}

.ac-logo {
    padding: 5px;
    size: 20px;
}

#toc {
    display: inline-block;
    margin-top: 10px;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.container h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.container h2 span {
    background-color: #80ffd3;
    padding: 0 10px;
}

.social-mediaImg {
    width: 48px;
}

.errorMsg {
    padding: 0.6rem 0 0 1rem;
    color: rgb(255, 62, 62);
    font-size: 1.1rem;
}

label {
    padding-left: 0.7rem;
}
