.wrap {
    display: flex;
    align-items: center;
    max-width: 38.75rem;
    margin: auto;
    border-bottom: 1px solid #10afa1;
    justify-content: space-between;
    font-family: "Varela Round", sans-serif;
    color: #3a2d2d;
}

.nav {
    display: flex;
    list-style-type: none;
    width: 82%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    color: rgb(183, 211, 186);
    font-family: "quicksand", "cursive";
    font-weight: monospace;
    font-size: 25px;
    transition: 1s;
}

li a:hover {
    transition: 1s;
    background: rgba(255, 255, 255, 0.7);
    color: #0dab9e;
}

.logout {
    border-radius: 1.5rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #00a29d;
    background: #8bfff7;
    cursor: pointer;
    padding: 0.4rem 1rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    outline: none;
}

.wrap .info {
    font-family: inherit;
    color: #00a29d;
}

.back-button {
    color: #00efb8;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    padding-left: 6rem;
}
.back-button svg {
    margin-top: 0.7rem;
}

.back-button:hover {
    color: #130202;
    transition: all 0.5s linear;
}
