.clock-timer {
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem;
}

.clock {
    padding: 1rem 4rem;
    color: #14ffec;
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin: 10px 0;
    color: #b9cacb;
    transition: color 0.8s cubic-bezier(0.83, 0.01, 0.29, 1);
}

.clock:hover {
    color: rgb(0, 172, 181);
}

.clock:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: right;
    transition: transform 1s cubic-bezier(0.83, 0.01, 0.29, 1);
    background: linear-gradient(90deg, #33ffa7, #0097b9);
}

.clock:hover:after {
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(0.83, 0.01, 0.29, 1);
}

.pomodoro-timer {
    padding: 10px;
}

.timer {
    margin: auto;
    color: #0dab9e;
    width: 18rem;
    height: 18rem;
    border: 5px solid #0dab9e;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-fieldset {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 4rem 0 1rem;
}

.add-task-btn {
    border-radius: 1rem;
    transition: 0.25s box-shadow, 0.25s transform;
}

.add-task-btn:hover {
    box-shadow: 0 4em 0 0 #8bfff7 inset, 0em 0em 0 0 #fff;
    transform: translate(0.3em, 0.2em);
    color: #fff;
}

.js-add-task-name {
    font-weight: bold;
    width: 28rem;
    height: 3.8rem;
    margin: 0 1.25rem;
    padding: 6px 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background: #e0fcf9;
    color: rgb(95, 99, 98);
    font-size: 1rem;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #00a29d;
    background: #8bfff7;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.start-btn {
    border-radius: 1.5rem;
    margin: 1rem 1rem;
}

.start-btn:hover {
    box-shadow: 0 4px #00f6e5;
    top: 2px;
}

.start-btn:active {
    box-shadow: 0 0 #04f6e5;
    top: 6px;
}

.control-btn-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #748194;
}

.fa-redo-alt {
    font-size: 26px;
    color: #00a29d;
    border: 2px solid transparent;
    padding: 1.2rem;
    border-radius: 2.2rem;
}

.fa-redo-alt:hover {
    color: #07d8d1;
    border: 2px solid #14ffec;
    transition: 0.5s ease;
}

.table-task {
    display: flex;
    justify-content: center;
}

table {
    border-radius: 0.4em;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 5rem 0;
    font-family: Montserrat, sans-serif;
}
th {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(28, 23, 23);
    text-align: left;
}

/* button {
  background-color: #55608f;
  padding: 15px 20px;
  border: transparent;
  color: #fff;
} */
th {
    text-align: left;
}
thead th {
    background-color: #00a29d;
    text-align: center;
}
tbody tr:hover {
    background-color: rgba(160, 251, 219, 0.43);
}
tbody td {
    position: relative;
    text-align: center;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.control-task-btn {
    cursor: pointer;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 0 5px;
    background-color: #88c9f5;
    border: 2px solid #19a3ff;
}

.js-delete-task {
    background-color: rgba(255, 0, 0, 0.4);
    border: 3px solid rgb(255, 50, 50);
}

.js-task-done {
    background-color: rgb(75 192 2 / 27%);
    border: 3px solid rgb(50, 255, 94);
}

.timer-detail {
    display: flex;
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
}

.stop-btn {
    color: #a20000;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #ff8b8be0;
    border: 0px;
    font-family: inherit;
    font-size: 20px;
    margin: 0 10px;
    margin-top: 1.3rem;
}

.stop-btn:hover {
    box-shadow: 0 4px #f60000;
    top: 2px;
}
.stop-btn:active {
    box-shadow: 0 0 #f60404;
    top: 6px;
}

.hidden {
    display: none;
}

.cell-task-name {
    display: inline-block;
    width: 16.8rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 38px;
    padding-top: 30px;
}
