* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

body {
    background: radial-gradient(
        ellipse at center,
        rgba(255, 179, 206, 0) 0%,
        rgba(255, 180, 199, 0) 43%,
        rgba(108, 249, 200, 0.43) 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
}
